{
  extends: ["eslint:recommended", "plugin:react/recommended", "standard"],
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
  "_": false
  },
  "rules": {
  "no-mixed-spaces-and-tabs": 0,
  "comma-dangle": 0,
  "complexity": [2, 7],
  "max-depth": [2, 4],
  "max-statements": [2, {"maximum": 20}, {"ignoreTopLevelFunctions": false}],
  "no-console": 0,
  "no-constant-condition": 1,
  "react/jsx-uses-react": 2,
  "react/jsx-uses-vars": 2,
  "react/react-in-jsx-scope": 2
  }
}
