{
  extends: ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "plugins": [
    "babel",
    "react",
    "flowtype"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
  "_": false,
  "describe": false,
  "it": false
  },
  "rules": {
  "array-bracket-spacing": 0,
  "arrow-body-style": 1,
  "arrow-parens": 0,
  "arrow-spacing": 1,
  "block-spacing": 1,
  "brace-style": 1,
  "comma-dangle": 0,
  "comma-spacing": 1,
  "comma-style": 1,
  "complexity": [2, 7],
  "curly": ["error"],
  "dot-location": 1,
  "dot-notation": 1,
  "eqeqeq": 1,
  "func-call-spacing": 1,
  "indent": 1,
  "jsx-quotes": 0,
  "key-spacing": 1,
  "keyword-spacing": 1,
  "linebreak-style": 1,
  "max-depth": [2, 4],
  "max-statements": [2, {"maximum": 20}, {"ignoreTopLevelFunctions": false}],
  "new-parens": 1,
  "newline-after-var": 1,
  "newline-before-return": 1,
  "no-console": 0,
  "no-constant-condition": 1,
  "no-extra-bind": 1,
  "no-extra-label": 1,
  "no-extra-parens": 1,
  "no-extra-semi": 1,
  "no-floating-decimal": 1,
  "no-implicit-coercion": 1,
  "no-lonely-if": 1,
  "no-magic-numbers": ["error", { "ignore": [0, 1, -1] }],
  "no-mixed-spaces-and-tabs": 0,
  "no-multi-spaces": 1,
  "no-regex-spaces": 1,
  "no-trailing-spaces": 0,
  "no-unneeded-ternary": 1,
  "no-useless-return": 1,
  "no-var": 1,
  "object-property-newline": 1,
  "object-shorthand": 1,
  "one-var-declaration-per-line": 1,
  "padded-blocks": 0,
  "prefer-arrow-callback": 1,
  "prefer-const": 1,
  "prefer-spread": 1,
  "prefer-template": 1,
  "quotes": 0,
  "react/jsx-uses-react": 2,
  "react/jsx-uses-vars": 2,
  "react/react-in-jsx-scope": 2,
  "semi": 0,
  "space-before-blocks": 1,
  "space-before-function-paren": 0,
  "space-in-parens": 0,
  "space-infix-ops": 1,
  "space-unary-ops": 1,
  "spaced-comment": 0,
  "wrap-iife": 1,
  "react/jsx-filename-extension": 0,
  "react/sort-comp": 0,
  "react/jsx-curly-spacing": 0,
  "import/prefer-default-export": 0
  }
}
