.word {
  font-family: $serif;
  font-size: 40px;
  letter-spacing: 0.2em;
  margin: 20px 0 60px 0;
  text-align: center;

  .btn-container {
    margin-top: 50px;
  }

  .new-word-enter {
    opacity: 0.01;
  }

  .new-word-enter.new-word-enter-active {
    opacity: 1;
    // duration must match associated transitionEnterTimeout
    transition: opacity 500ms ease-in;
  }

  .new-word-leave {
    display: none;
  }

}

