button {
  background: none;
  border: 2px solid $color-black;
  transition: opacity 300ms ease;

  &[disabled] {
    opacity: 0.4;
  }

  &.btn-svg {
    line-height: 0;
    padding: 10px;

    svg {
      width: 50px;
      height: 50px;
    }
  }
}
