@include anchor($color-black, $color-white);

// external links
[href^='http']:not([href*='codeindeed.com'])::after {
  $size: 10px;

  display: inline-block;
  width: $size;
  height: $size;
  background-color: $color-black;
  mask-image: url('/icons/external-link.svg');
  mask-size: cover;
  transform: translate(3px, -5px);
  content: '(external link)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: $size;
}

// accessible skip to main content
.skip-link {
  position: absolute;
  top: 0;
  right: 100%;
  color: $color-black;

  &:focus {
    right: auto;
  }
}
